.apartments-wrapper {
    position: relative;
}

.apartments-line {
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 5;
}

.apartments-top-border {
    position: absolute; 
    display: block;
    height: 140px;
    width: 100%;
    background-color: $dark-blue;
    z-index: 1;
}


.apartments-bottom-border {
    position: absolute; 
    display: block;
    height: 140px;
    width: 100%;
    background-color: $dark-blue;
    z-index: 1;
    bottom: 0px;
}


.apartments-image {
    max-height: 480px;
}

.apartments-item {
    position: relative;
    margin: 13px 15px;
}

.apartments-line-start {
    padding-top: 15px;
}

.apartments-line-end {
    padding-bottom: 15px;
}

.apartments-item-description {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.30);
    color: $dark-blue;
    font-size: 1.6em;
    font-weight: bold;
    z-index: 10;
    padding: 20px 35px;
}

.description-right-bottom {
    bottom: 0;
    right: 0;
}

.description-left-bottom {
    left: 0;
    bottom: 0;
}

.description-right-top {
    top: 0;
    right: 0;
}

.description-left-top {
    left: 0;
    top: 0;
}


@media screen and (max-width: 1500px) {
    .apartments-image {
        max-height: 450px;
    }
}

@media screen and (max-width: 1366px) {
    .apartments-image {
        max-height: 425px;
    }
}