.content-wrapper {
  display: flex;
  background-color: $light-blue;
  justify-content: flex-start;
  padding-top: 25px;
  padding-bottom: 25px;

  .content-logo {
    text-align: right;
    width: 680px;
    padding-right: 100px;
    padding-top: 50px;
  }

  .content-text {
    max-width: 600px;
    font-size: 1.2em;
    color: black;
    position: relative;

    ul {
      list-style-image: url('../images/content_ul.png');
    }
  }

}


@media screen and (max-width: 1366px) {
  .content-wrapper  {
    .content-logo {
      width: 450px;
      padding-right: 120px;
    }
  }
}


@media screen and (max-width: 1200px) {
  .content-wrapper  {
    .content-logo {
      width: 300px;
      padding-right: 50px;
    }
  }
}

@media screen and (max-width: 768px) {
  .content-wrapper  {
    flex-direction: column;

    .content-logo {
      margin: auto;
    }

    .content-text {
      margin: auto;
      max-width: 90%;
    }
  }
}

@media screen and (max-width: 540px) {
  .content-wrapper  {
    .content-logo {
      width: 250px;
    }
  }
}