@import url("https://fonts.googleapis.com/css?family=Rubik");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.header-top {
  position: absolute;
  top: 30px;
  width: 60%;
  height: 55px;
  left: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-logo img {
  max-height: 70px;
}

.header-text {
  min-width: 15%;
  text-align: right;
  margin: auto 0;
}

.header-phone {
  font-size: 1.5em;
  color: #414e7e;
}

.header-mail {
  font-size: 1.2em;
  color: #414e7e;
  text-decoration: none;
}

.header-mail:hover {
  text-decoration: underline;
}

.menu {
  position: absolute;
  top: 110px;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #414e7e;
  height: 60px;
  font-size: 1.1em;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu ul li {
  margin: 3px 60px;
  list-style-type: none;
  cursor: pointer;
}

.menu ul li:hover {
  text-decoration: underline;
}

.menu ul li.menu-image {
  margin: -12px 0 0 0;
}

.menu ul li.menu-image img {
  max-height: 50px;
}

.menu .menu-level-two {
  display: none;
}

.menu .menu-level-one {
  height: 39px;
}

.menu .menu-level-one:hover > .menu-level-two {
  position: absolute;
  top: 60px;
  display: block;
  background-color: rgba(255, 255, 255, 0.65);
  padding-left: 0;
  margin-left: -20px;
}

.menu .menu-level-one:hover > .menu-level-two li {
  margin: 0;
  padding: 10px 20px;
  text-decoration: none;
}

.menu .menu-level-one:hover > .menu-level-two li:hover {
  background-color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.menu .menu-level-one::after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f107";
}

.hero {
  width: 100%;
  height: 1080px;
  background-image: url("../images/hero.jpg");
}

body {
  font-family: 'Rubik', sans-serif;
}
