.menu {

    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    color: $dark-blue;
    height: 60px;
    font-size: 1.1em;
    z-index: 20;

    & ul {
        display: flex;
        justify-content: center;
        // margin: 0;

        & li {
            margin: 3px 60px;
            list-style-type: none;
        }

        & li:hover {
            text-decoration: none;
        }

        & li.menu-image {
            margin: -12px 0 0 0;
            & img {
            max-height: 50px;
            }
        }

        & li > a {
            color: $dark-blue;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

    }

    & .menu-level-two {
        display: none;
    }

    & .menu-level-one {
        height: 39px;
    }

    & .menu-level-one:hover > .menu-level-two {
        position: absolute;
        top: 60px;
        display: block;
        background-color: rgba(255, 255, 255, 0.65);
        padding-left: 0;
        margin-left: -20px;

        li {
            margin: 0;
            padding: 10px 20px;
            text-decoration: none;
        }

        li:hover {
            background-color: rgba(255, 255, 255, 0.8);
            text-decoration: none;
        }
    }

    & .menu-level-one::after {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f107";
    }
}

@media screen and (max-width: 1080px) {
    .menu ul li {
        margin: 0px 15px;
    }
}