.menu {

    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    color: #414e7e;
    height: 60px;


    & ul {
        display: flex;
        justify-content: center;
        // margin: 0;

        & li {
            margin: 6px 60px;
            list-style-type: none;
        }

        & li.menu-image {
            margin: -10px 0 0 0;
            & img {
            max-height: 50px;
            }
        }
    }

    & .menu-level-two {
        display: none;
    }

}
