.tabs-section {
    width: 100%;
    position: relative;
}

.tabs-decoration {
    position: absolute;
    bottom: -270px;
    right: -70px;
    z-index: 0;
}

.tabs-wrapper {
    display: flex;
    width: 1080px;
    position: relative;
    margin: auto;
    z-index: 5;
}

.tabs-list {
    background: url('../images/tabs_bg.png');
    background-position: 50%;
    background-repeat: repeat-y;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;

    ul{
        padding: 0;
        text-align: center;
    }

    li {
        list-style-type: none;
        padding: 15px;
        margin-top: 100px;
        font-size: 1.2em;
        outline: none;
    }

    li a {
        outline: none;
        background-color: #fff;
        color: $dark-blue;
        text-decoration: none;
    }

    li a:before {
        content: '';
        border: 3px solid $dark-blue;
        width: 22px;
        height: 22px;
        display: block;
        transform: rotate(45deg);
        margin: 0px auto 15px auto;
        background-color: #fff;

    }

    .ui-state-active a:before {
        background-color: $dark-blue;
    }
}

.tabs-content {
    width: 100%;
    padding: 0 20px;
    h2 {
        font-size: 1.87em;
        font-weight: normal;
    }
    p {
        font-size: 1.2em;
    }

    .tabs-cta {
        background-color: $dark-blue;
        color: white;
        padding: 20px 30px;
        font-size: 1.2em;
        font-weight: normal;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 20px;
        display: inline-block;
    }

    .tabs-cta:hover {
        opacity: 0.95;
        padding: 20px 32px;
    }

}

.text-centered {
    text-align: center;
    padding: 0 20%;
}

.content-columns {
    display: flex;
    justify-content: space-between;
    background: url('../images/logo_big_with_arrows.png');
    background-repeat: no-repeat;
    background-position: 37% 60%;
    min-height: 380px;
    font-size: 0.75em;
    .single-column {
        width: 29%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .single-column-three {
        margin-top: -50px;
    }
    h3 {
        margin: 0;
    }
    p {
        margin-top: 0;
    }

}