.testimonials-wrapper {
    background-color: $dark-blue;
    color: #fff;
 
#testimonials-slider {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 4px;
  }
  
  #testimonials-slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  
  #testimonials-slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 1200px;
    height: 350px;
    text-align: center;

    p {
        padding: 50px 300px 0 300px;
        font-size: 1.4em;
        font-weight: normal;
        text-align: left;
        line-height: 1.4em;
        position: relative;
        span {
            position: absolute;
            display: block;
            right: 250px;
            padding-top: 10px;
        }
    }
  }
  
  a.control_prev, a.control_next {
    position: absolute;
    top: 25%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    color: #7c88b1;
    text-decoration: none;
    font-weight: 600;
    font-size: 2.6em;
    opacity: 0.8;
    cursor: pointer;
  }
  
  a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    transition: all 0.2s ease;
  }
  
  a.control_prev {
    border-radius: 0 2px 2px 0;
  }
  
  a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
  }
  
  .slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
  }

  .slider-quotes-open {
    position: absolute;
    bottom: 40px;
    left: 180px;
  }

  .slider-quotes-close {
    position: absolute;
    top: 40px;
    right: 180px;
  }

}



@media screen and (max-width: 1200px) {
  .testimonials-wrapper {
    background-color: $dark-blue;
    color: #fff;
  
    #testimonials-slider ul li {
      width: 900px;
    }

    #testimonials-slider ul li p {
      font-size: 1em;
    }

    .slider-quotes-open {
      left: 0;
    }

    .slider-quotes-close {
      right: 0;
    }

  }
}


@media screen and (max-width: 960px) {
  .testimonials-wrapper {
    #testimonials-slider ul li {
      width: 780px;
    }
    #testimonials-slider ul li p {
      font-size: 0.9em;
    }
    .slider-quotes-open, .slider-quotes-close  {
      img {
       max-width: 75px; 
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .testimonials-wrapper {

    #testimonials-slider ul li {
      width: 700px;
      height: 250px;
    }

    #testimonials-slider ul li p {
      font-size: 0.8em;
      padding: 50px;
    }

    .slider-quotes-open, .slider-quotes-close  {
      img {
       max-width: 50px; 
      }
    }

  }
}



@media screen and (max-width: 766px) {
  .testimonials-wrapper {

    #testimonials-slider ul li {
      width: 600px;
      height: 200px;
    }

  }
}

@media screen and (max-width: 640px) {
  .testimonials-wrapper {

    #testimonials-slider ul li {
      width: 500px;
      height: 230px;
    }

  }
}


@media screen and (max-width: 539px) {
  .testimonials-wrapper {

    #testimonials-slider ul li {
      width: 400px;
      height: 250px;
    }

    .slider-quotes-open, .slider-quotes-close  {
      display: none;
    }

  }
}


@media screen and (max-width: 460px) {
  .testimonials-wrapper {

    #testimonials-slider ul li {
      width: 300px;
      height: 250px;
    }

    #testimonials-slider ul li p {
      font-size: 0.7em;
    }

    #testimonials-slider ul li p span {
      right: 0;
    }

  }
}




